<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Cat n' Fact</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Random Cat n' Fact</h1>
      <p>A random cat and random cat-fact are just a click away.</p>
    </header>
    <main>
      <img src="<%= image %>" alt="picture of a cat" />
      <p><%= fact %></p>
    </main>
    <button id="refresh">Regenerate</button>
    <footer>made with ❤️ by Larsen</footer>
    <script src="js/index.js"></script>
  </body>
</html>
